body {
    display: flex;
    margin: 0;
}

button {
}

#graph {
    height: 100%;
    width: 90%;
    display: flex;
}

#settings {
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    border-left: solid 2px #1c7430;
    gap: 10px;
}

.settings-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px #1c7430;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    align-items: center;
    align-content: center;
}

#input {
    width: 100%;
    min-height: 150px;
}

#lines {
    position: absolute;
    width: 80%;
    height: 100%;
}

#lines text {
    fill: red;
}

line {
    stroke: black;
    stroke-width: 2;
}

.point {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    outline: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: white;
}

input[type="number"] {
    width: 20%;
    margin: 0 auto;
}

#widthVerts {
    margin: auto;
}

#level-input {
    margin: 0 auto;
}

#version-level, label {
    margin: auto;
}

.columned {
    flex-direction: column;
}

table, th,tr {
    text-align: center;
    border: black 1px solid;
}
td {
    padding: 0px;
    border: black 1px solid;
}

.task .game, .task .norm {
    display: none;
}